*.[oa]
*.so
*.lib
*.dll
.*.sw*
/docs/index.html
/docs/sitemap.xml
/docs/vibe
/docs/images
/docs/prettify
/docs/scripts
/docs/styles

.dub
dub.selections.json

# Unittest binaries
vibe-d
tests/*/tests
__test__libevent__

*.exe_cv

#config-use the .sample.yaml for changes.
config.yaml